<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="/demos" target='blank'>Demos</a></li>
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="/sobre-mi">Sobre mi</a></li>
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="/portafolio" target='blank'>Portafolio</a></li>
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="/agenda">Agenda</a></li>
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="/contactame">Contacto</a></li>
	</ul>
</div>

{{!-- 		{{#foreach navigation}}
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}" ><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}} --}}
